@charset "utf-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

body {
	font-family:Arial, Helvetica, sans-serif;
	height: 100%;
	-webkit-font-smoothing: antialiased;
}

html {
	height: 100%;
}

p {
	font-size:14px;
	padding-bottom:15px;
}

a { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration:none; }

a:active { text-decoration: none; }

a[href^=tel] {
    color: inherit;
    text-decoration: none;
}

.container {
	position:relative;
	margin:0 auto;
	max-width:1920px;
	min-width:1024px;
	min-height:100%;
	width:100%;
}

.container.accueil {
	background-color:#000;
	background-image:url(../images/bg_accueil.jpg);
	background-position:top center;
	background-repeat:no-repeat;
}

.content {
	margin:0 auto;
	position:relative;
	width:1000px;
}
.content.accueil {
	background:none;
	text-align:center;
}

.content.accueil img {
	padding-bottom:60px;
	padding-top:75px;
}

.content.accueil h1 {
	color:#FFF;
	font-size:36px;
	text-transform:uppercase;
	padding-bottom:20px;
}

.content.accueil p {
	color:#FFF;
	font-size:18px;
	padding-bottom:20px;
}

.boitelogin {
	display:inline-block;
	background:#FFF;
	padding:35px 40px 30px 40px;
	margin-bottom:20px;
	margin-top:20px;
	max-width:280px;
}

.content.accueil .boitelogin p {
	font-size:12px;
	text-align:left;
}

.boitelogin input[type="text"], .boitelogin input[type="password"] {
	border:1px solid #190f5c;
	color:#190f5c;
	padding:10px 12px;
	width:256px;
	margin-bottom:10px;
}

.boitelogin input[type="submit"] {
	background:#e00010;
	border:0px;
	color:#FFF;
	text-transform:uppercase;
	padding:10px 0px;
	width:280px;
}

.linkmotdepasseoublie {
	padding-top:10px;
	text-align:right;
}
.linkmotdepasseoublie a {
	color:#e00010;
	font-size:10px;
	text-transform:uppercase;
}

.boitelogin ::-webkit-input-placeholder { /* WebKit browsers */
    color:#190f5c;
}
.boitelogin :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#190f5c;
    opacity:  1;
}
.boitelogin ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#190f5c;
    opacity:  1;
}
.boitelogin :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#190f5c;
}
/***/

.header {
	padding-bottom:35px;
}

.header img {
	margin:20px 0px;
}

.header .bandeau {
	background:url(../images/bandeau.jpg) center no-repeat;
	height:152px;
}

.nav {
	list-style:none;
	float:right;
	font-size:0;
	padding-top:64px;
}

.nav li {
	display:inline-block;
	margin-left:25px;
}

.nav a {
	color:#7a7675;
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
}

.nav a:hover, .nav a.selected {
	color:#e00010;
}

.header a.lang {
	background:#000;
	position:absolute;
	top:0px;
	right:0px;
	color:#FFF;
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
	padding:5px 10px;
	z-index:999;
}

.footer {
	background:#000;
	border-top:2px solid #FFF;
}

.footer .content {
	padding:15px 0px;
	text-align:right;
}

.footer p, .footer a {
	color:#FFF;
	font-size:9px;
	padding:0px;
}

/***/

h1 {
	color:#e00010;
	font-size:18px;
	text-transform:uppercase;
	padding-bottom:20px;
}

.main table {
	border-collapse:collapse;
}

.main th, .main td {
	border-left:2px solid #FFF;
	border-right:2px solid #FFF;
	padding-bottom:7px;
	padding-top:7px;
	padding-left:12px;
	padding-right:12px;
}
.main td.tableaurapportemploye {
	padding-left:0px;
	padding-right:0px;
	padding-top:2px;
}
.main td.modifier_temps {
	padding-left:0px;
}

.main td.modifier_temps .enregistrer_temps {
	margin-top:0px;
}

.main th {
	background:#000;
	color:#FFF;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
	text-align:left;
	height:100%;
}

.main tr.newemplpye {
	height:100%;
}

.main tr.newemplpye td {
	background:#c3c4c6;
	height:100%;
}

.main td {
	font-size:12px;
}

.main .supFichier {
	width:160px;
	text-align:center;
}

.main th.supFichier a {
	color:#F00;
}

.main td.dateFichier {
	width:110px;
}

.main td.telechargement {
	width:80px;
	text-align:center;
}

.main td a {
	color:#000;
}

.main tr.pair td {
	background:#f7f7f7;
}

.main tr.impair td {
	background:#efefef;
}
.main tr.total td {
	background:#000;
	color:#FFF;
	font-weight:bold;
	text-transform:uppercase;
}

.main .btn_new_user {
	padding:0px;
}

.main .btn_new_user input[type="submit"] {
	background:#e00010;
	border:0px;
	color:#FFF;
	font-size:12px;
	text-align:center;
	text-transform:uppercase;
	height:100%;
	width:100%;
	-webkit-appearance: none;
	padding-left:10px;
	padding-right:10px;
}

.main input[type="text"], .main input[type="password"], .main textarea {
	width:100%;
}

/***/

.dialog_action p {
	font-size: 13px;
}

.dialog_action p.nom {
	font-weight: bold;
}

.dialog_action img {
	display: none;
	position: absolute;
	top: 70px;
}


.dialog_box {
	display:none;
	position:relative;
	text-align:center;
}

.dialog_box img.close_popup {
	cursor:pointer;
	position:absolute;
	top:0px;
	right:0px;
}

.dialog_box h5 {
	color:#2f4a6d;
	font-size:18px;
	padding-top:15px;
}

.dialog_box table {
	padding-top:15px;
	margin:0px auto;
}

.dialog_box td {
	padding-bottom:5px;
	padding-left:5px;
	padding-right:5px;
}

.dialog_box p.rouge {
	font-size:11px;
	padding-top:5px;
}

.dialog_box input[type="button"] {
	background:#7fc738;
	border:0px;
	color:#FFF;
	font-size:12px;
	padding-bottom:10px;
	padding-left:15px;
	padding-right:15px;
	padding-top:10px;
}

.dialog_box .loading {
	display:none;
}

.dialog_box label {
	font-size:12px;
}

.dialog_box.updUserInfo input[type="text"], .dialog_box.updUserInfo input[type="password"] {
	width:200px;
}
/***/

.erreur {
	border:1px solid #F00 !important;
}

.rouge {
	color:#F00 !important;
}

.clear {
	clear:both;
}