@charset "utf-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}
html {
	height: 100%;
}

a { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration:none; }

a:active { text-decoration: none; }

a[href^=tel] {
    color: inherit;
    text-decoration: none;
}


/***/

.sousmenu {
	padding:0px 0px 45px 0px;
}

.sousmenu a {
	background:#242424 !important;
	color:#FFF !important;
	font-size:12px !important;
	font-weight:bold !important;
	text-transform:uppercase !important;
	padding:7px 12px !important;
}

.sousmenu a:hover {
	background:#666 !important;
}

.gestionfichiers .sousmenu {
	padding:0px;
	position:absolute;
	right:0px;
}

.gestionfichiers .sousmenu a {
	background:#e00010 !important;
	display:block;
	width:160px;
	text-align:center;
}

/***/
/* EDIT */
.edit {
}

.edit a {
	color:#FFF !important;
	font-size:14px;
	text-transform:uppercase;
	padding:5px 10px;
	background:#666;
	margin-right:10px;
}

.edit a {
	font-size:11px;
	font-weight:bold;
}

.edit a.supprimer {
	background:#F00;
}

.confirm {
	padding-bottom:25px;
	padding-top:15px;
}

.confirm form {
}

.confirm p {
	font-size:12px;
	padding-bottom:5px !important;
}

.confirm .btsubmit {
	font-size:11px;
	font-weight:bold;
	margin-right:5px;
	padding:2px 5px !important;
	text-transform:uppercase;
}

/***/

.form_modif img.calendar {
	display:inline-block;
	vertical-align:text-bottom;
}

.form_modif label {
	font-size:14px;
}

.form_modif p {
	padding-bottom:20px;
}

.form_modif input[type="text"] {
	width:150px;
	margin-top:5px;
}

input[type="file"] {
	margin-top:5px;
}

.form_modif input[type="text"].titre {
	width:400px;
}

.form_modif img {
	float:none !important;
}

.rouge {
	color:#F00 !important;
}

.clear {
	clear:both;
}

/*** Nouvelles ***/

.nouvelles hr {
	border:0px;
	background:#e00010;
	height:10px;
	width:49%;
	margin:0;
	margin-bottom:20px;
}

.nouvelles .date {
	display:block;
	color:#e00010;
	font-size:14px;
}

.nouvelles h1 {
	border:0px;
	color:#000;
	font-size:24px;
	font-weight:700;
	text-transform:none;
	padding-top:5px;
}

.nouvelles img {
	float:right;
	margin-left:60px;
	margin-bottom:60px;
	max-width:210px;
	width:21%;
}

.nouvelles ul {
	margin-left:20px;
	margin-bottom:20px;
}

.nouvelles li {
	font-size:14px;
}

.nouvelles a {
	color:#e00010;
}

.nouvelles .clear {
	padding-bottom:30px;
}

/*** Carrière ***/
.carriere th {
	background:#000;
	color:#FFF;
	font-size:14px;
	font-weight:900;
	text-transform:uppercase;
	padding-bottom:12px;
	padding-top:12px;
}

.carriere table, .carriere th, .carriere td {
    border: 1px solid #FFF;
    border-collapse: collapse;
}

.carriere .departement {
	width:190px;
}

.carriere .noposte {
	width:88px;
}

.carriere .titreposte {
	width:534px;
}

.carriere .jour, .carriere .soir, .carriere .nuit {
	width:60px;
}

.carriere td {
	background:#e4e2e2;
	font-size:14px;
	font-weight:700;
	text-align:center;
	text-transform:uppercase;
	padding-bottom:10px;
	padding-top:10px;
}

.carriere td.departement {
	background:#969696;
	color:#FFF;
	padding-left:10px;
	padding-right:10px;
	border-bottom:10px solid #FFF;
}

.carriere td.titreposte {
	text-align:left;
	padding-left:12px;
}

.carriere tr.finDepartement td {
	border-bottom:10px solid #FFF;
}

.carriere td.disponible {
	background:#1c62a4;
	color:#FFF;
}

.carriere table a {
	color:#FFF;
}

.carriere input[type="text"] {
	width:30px;
	text-align:center;
}

.carriere input[type="submit"] {
	background:#242424;
	border:0;
	color:#FFF;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
	padding:7px 12px;
	margin-bottom:20px;
	float:right;
}

/***/

.uploadFichier {
}

.uploadFichier input {
	margin-bottom:10px;
}

.gestionfichiers h1 {
	padding-bottom:20px;
}