#about {
	main {
		.top-title {
			background: #000;
			white-space: nowrap;
			@include media-breakpoint-down(md) {
				white-space: normal;
			}
		}
		
		h2 {
			color: $rouge;
			font-size: 3rem;
		}
		h3 {
			font-weight: 700;
			text-transform: uppercase;
		}
		p {
			&.intro {
				font-size: 1.5rem;
				font-weight: 700;
				line-height: 1.25;
				text-transform: uppercase;
			}
		}
		
		.clients {
			.btn {
				margin-bottom: -1.25rem;
			}
			@include media-breakpoint-down(md) {
				.col {
					flex: 0 0 33.3333333333%;
					max-width: 33.3333333333%;
				}
			}
		}
		
		.cta {
			p {
				font-size: 1.5rem;
				font-weight: 700;
				text-transform: uppercase;
			}
		}
	}
}