@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800;900&family=Material+Icons+Outlined&display=swap');

$rouge: #ed1c24;
$gris: #77787b;
$gris-pale: #f0f0f0;
$yellow: #ffa908;
$text-color: #010101;
$headerHeight: 70px;

body {
	font-family: 'Inter', sans-serif;
    line-height: 1.2;
	position: relative;
	-webkit-font-smoothing: antialiased;
}
html { height: 100%; }

.bg-yellow { background-color: $yellow; }
.bg-black { background-color: #000; }
.bg-grispale { background-color: $gris-pale; }
.bg-rouge { background-color: $rouge; }

.alphacasting-outline{ fill:$yellow; }
.rond-rouge{fill:$rouge;}
.fleche-blanc{fill:#FFFFFF;}

.rouge { color: $rouge; }

a { 
	text-decoration: none;
	&:visited { text-decoration: none; }
	&:hover { text-decoration:none; }
	&:active { text-decoration: none; }
	&.btn {
		font-size: 1.1rem;
		font-weight: bold;
		text-transform: uppercase;
		.sep {
			font-size: 1rem;
		}
	}
	&.noir {
		background: #000;
		color: #FFF;
	}
	&:hover {
		&.noir {
			color: $rouge;
		}
	}
}

p {
    color: $text-color;
    font-size: 1.25rem;
	line-height: 1.4;
	margin-bottom: 1.5rem;
    
    &:last-child {
        margin-bottom: 0;
    }
    
    &.titre_markets {
        color: $rouge !important;
        font-size: 0.8rem !important;
        font-weight: 900 !important;
		margin-bottom: 1rem;
        text-transform: uppercase !important;
    }
}

ol, ul, li {
    margin: 0;
	padding: 0;
}

li {
	&.p {
		color: $text-color;
		font-size: 1.25rem;
		line-height: 1.4;
		margin-bottom: 0.5rem;
	}
    &:last-child {
        margin-bottom: 0;
    }
}

.scroll-content {
    > .container-fluid {
        overflow: hidden;
    }
}
.scrollbar-track {
    z-index: 99999!important;
}

.btn {
	&.btn-black {
		background: #000;
		color: #FFF;
		font-size: 0.8rem;
		font-weight: 700;
		text-transform: uppercase;
		&:hover {
			color: #FFF;
		}
	}
}

.plane {
    width: 34px;
    height: 22px;
    .plane-tail-end{fill:#000;}
    .plane-red{fill:#ed1c24;}
    .plane-bottom{fill:none;}
}
span.leading {
	display: block;
    color: $rouge;
    font-size: 1.1rem;
	max-width: 190px;
}
.rs {
    img {
        margin-right: 30px;
    }
}

.padding-header {
	padding-top: $headerHeight;
}

.border-bottom.rouge { border-color: $rouge!important; }
.border-top.rouge { border-color: $rouge!important; }
.border-left.rouge { border-color: $rouge!important; }
.border-right.rouge { border-color: $rouge!important; }

.top-title {
	h1 {
		color: $rouge;
		font-size: 4rem;
		line-height: 1;
		margin: 0;
		@include media-breakpoint-down(md) {
			font-size: 3rem;
		}
		@include media-breakpoint-down(sm) {
			font-size: 2rem;
		}
	}
}

.diag-line-bar {
	width: 100%;
	height: 20px;
	background: repeating-linear-gradient(
		-45deg,
		transparent,
		transparent 4px,
		transparent 2px,
		$rouge 7px
	),
	linear-gradient(
	to bottom,
	transparent,
	transparent);
	margin-bottom: 7px;
}

.s2 {
	p {
		color: #FFF;
		&.dark {
			color: $text-color;
		}
	}
	li { color: #FFF; }
	.max-w600 { max-width: 600px; }

	div[class^="col"] {
		height: 600px;
		@include media-breakpoint-down(lg) {
			height: auto;
		}
	}
}

.sep::before {
	content: "|";
	margin: 0 5px;
}

img {
	&.objfitcover {
		object-fit: cover;
		height: 100%;
		width: 100%;
	}
}

.slogan {
	font-size: 1.75rem;
	font-weight: 700;
	text-transform: uppercase;
}

label {
	font-weight: 700;
	&.error {
		color: $rouge;
	}
}

/* Placeholder */
::-webkit-input-placeholder { /* WebKit browsers */
    color:#FFF;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#FFF;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#FFF;
    opacity:  1;
}