.breadcrumb{
	border-bottom: 1px solid $rouge;
	border-radius:0;
	padding: 0.75rem 0;
	background-color: #fff;
	ol{
		list-style-type: none;
		font-size: 15px;
		font-weight: 600;
		display:flex;
		li.breadcrumb-item{
			a{
				color:#000;
				transition:color 0.25s;
				&:hover{
					color:$rouge;
				}
			}
		}
	}
}