#career {
	$_accent-color : #1c62a4;
	$_accent-vert : #0ba05d;
	main {
		border-bottom: 1px solid $rouge;
		.top-title {
			background: #000;
			white-space: nowrap;
			@include media-breakpoint-down(md) {
				white-space: normal;
			}
		}
		
		h2 {
			color: $rouge;
			font-size: 3rem;
		}
		h3 {
			font-weight: 700;
			text-transform: uppercase;
		}
		p {
			&.intro {
				font-size: 1.5rem;
				font-weight: 700;
				line-height: 1.25;
				text-transform: uppercase;
			}
		}

		.table-heading {
			margin-top: 100px;
			margin-bottom: 15px;
			text-transform: uppercase;
			font-size: 1rem;
			font-weight: 700;
			& p {
				font-size: inherit;
				font-weight: inherit;
			}
			& .legende {
				$before-size : 20px;
				position: relative;
				display: flex;
				align-items: center;
				margin: 0;
				padding-left: $before-size;
				&::before {
					content: "";
					position: absolute;
					left: calc(-#{$before-size - 15px});
					width: $before-size;
					height: $before-size;
					background-color: $_accent-color;
				}
			}
			& .cv {
				padding: 0.7em 1em;
				background-color: $_accent-vert;
				color: #fff;

			}
		}

		table {
			text-align: center;
			background-color: $gris-pale;
			font-weight: 700;
			text-transform: uppercase;
			margin-bottom: 100px;
			&, th, td {
				border: 2px #fff solid;
			}

			thead {
				background-color: $text-color;
				color: #fff;
			}
			tbody {
				& .fin-departement {
					& > * {
						border-bottom: 10px solid #FFF;
					}
				}
				& .departement {
					vertical-align: middle;
					background-color: $gris;
					color: #fff;
					border-bottom: 10px solid #FFF;
				}
				& .titreposte {
					text-align: left;
					min-width: 350px;
	
				}
				& .disponible {
					background-color: $_accent-color;
					color: #fff;
					& > a {
						color: #fff;
					}
				}
			}
		}
		
		
		.cta {
			p {
				font-size: 1.5rem;
				font-weight: 700;
				text-transform: uppercase;
			}
		}
	}
}