.casting {
	.markets-home {
		.markets_items_container {
			padding-bottom: 50px;
			padding-top: 30px;
		}
	}
	main {
		.details {
			.bandeau {
				@extend %details-bandeau;
			}

			h1 {
				@extend %details-h1;
			}
			
			h2 {
				@extend %details-h2;
			}
			
			p {
				&.intro {
					font-size: 1.5rem;
					font-weight: 700;
					line-height: 1;
					text-transform: uppercase;
				}
			}

			.subtitle {
				font-size: 1.5rem;
				font-weight: 700;
				line-height: 1;
				text-transform: uppercase;
			}
			
			.features {
				h2 {
					color: $rouge;
					font-size: 2.5rem;
					font-weight: 500;
				}
				h3 {
					color: #ed1c24;
					font-weight: 800;
					margin-top: 1rem;
					text-transform: uppercase;
				}
				.titre {
					p {
						color: $rouge;
						font-size: 1.5rem;
					}
				}
			}
			
			.cta {
				p {
					text-transform: uppercase;
				}
			}
			
			li:not(.breadcrumb-item) {
				font-size: 1.25rem;
				line-height: 1.4;
				margin-bottom: 0.5rem;
			}
		}
	}
}

#alloys {
	&.casting {
		.bandeau {
			background-image: url("../images/alloys-top.jpg");
			@include media-breakpoint-down(md) {
				background-image: url("../images/alloys-top-md.jpg");
			}
		}
	}
}
#heattreatment {
	&.casting {
		.bandeau {
			background-image: url("../images/heat-treatment-top.jpg");
			@include media-breakpoint-down(md) {
				background-image: url("../images/heat-treatment-top-md.jpg");
			}
		}
	}
}
#sizinghipping {
	&.casting {
		.bandeau {
			background-image: url("../images/sizing-hipping-top.jpg");
			@include media-breakpoint-down(md) {
				background-image: url("../images/sizing-hipping-top-md.jpg");
			}
		}
	}
}
#moulding {
	&.casting {
		.bandeau {
			background-image: url("../images/moulding-top.jpg");
			@include media-breakpoint-down(md) {
				background-image: url("../images/moulding-top-md.jpg");
			}
		}
	}
}
#rapidprototyping {
	&.casting {
		.bandeau {
			background-image: url("../images/rapid-prototyping-top.jpg");
			@include media-breakpoint-down(md) {
				background-image: url("../images/rapid-prototyping-top-md.jpg");
			}
		}
	}
}
#titanium {
	&.casting {
		.bandeau {
			background-image: url("../images/titanium-top.jpg");
			@include media-breakpoint-down(md) {
				background-image: url("../images/titanium-top-md.jpg");
			}
		}
	}
}
#toolroom {
	&.casting {
		.bandeau {
			background-image: url("../images/tool-room-top.jpg");
			@include media-breakpoint-down(md) {
				background-image: url("../images/tool-room-top-md.jpg");
			}
		}
	}
}
#waxinjection {
	&.casting {
		.bandeau {
			background-image: url("../images/wax-injection-top.jpg");
			@include media-breakpoint-down(md) {
				background-image: url("../images/wax-injection-top-md.jpg");
			}
		}
	}
}
#shipping {
	&.casting {
		.bandeau {
			background-image: url("../images/shipping-top.jpg");
			@include media-breakpoint-down(md) {
				background-image: url("../images/shipping-top-md.jpg");
			}
		}
	}
}

.casting {
	.top-title {
		background: #000;
		white-space: nowrap;
		@include media-breakpoint-down(md) {
			white-space: normal;
		}
	}
	.details {
		h2 {
			color: $rouge;
			font-size: 3rem;
		}
		h3 {
			font-weight: 700;
			text-transform: uppercase;
		}
		ul {
			color: $text-color;
			& li {
				color: $text-color;
			}
			&.white-text {
				color: #fff;
				& li {
					color: #fff;
				}
			}
			&.nostyle {
				list-style-type: none;
			}
		}
	}
	
	.plant {
		background-image: url("../images/alphacasting-plant-indoor-view.jpg");
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
  		min-height: 600px;
		h2 {
			color: #FFF;
			font-size: 3.5rem;
			font-weight: 700;
			line-height: 1;
			text-transform: uppercase;
		}
		span {
			color: #FFF;
			font-size: 5rem;
		}
		@include media-breakpoint-down(sm) {
			min-height: 400px;
			h2 {
				font-size: 2.5rem;
			}
			span {
				font-size: 3.5rem;
			}
		}
	}
}