#certifications {
	main {
		.top-title {
			background: #000;
			white-space: nowrap;
			@include media-breakpoint-down(md) {
				white-space: normal;
			}
		}
		
		h2 {
			color: $rouge;
			font-size: 3rem;
		}
		h3 {
			font-weight: 700;
			text-transform: uppercase;
		}
		p {
			&.intro {
				font-size: 1.5rem;
				font-weight: 700;
				line-height: 1.25;
				text-transform: uppercase;
			}
		}
		
		
		.cta {
			p {
				font-size: 1.5rem;
				font-weight: 700;
				text-transform: uppercase;
			}
		}
		
		.certificats {
			background-image: url("../images/bg-certifications.jpg");
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			
			ul {
				list-style: none;
				li {
					margin-bottom: 2rem;
					a {
						background-image: url("../images/cert-check.png");
						background-repeat: no-repeat;
						color: #FFF;
						padding-left: 85px;
						min-height: 68px;
						display: inline-block;
						strong {
							display: block;
							margin-top: 6px;
							width: 100%;
						}
					}
				}
			}
		}
	}
}