#contact {
	main {
		.top-title {
			background: #000;
		}

		span.leading {
			font-size: 1.5rem;
			max-width: 450px;
		}
		
		.coord {
			h2 {
				font-size: 2rem;
				font-weight: 900;
				text-transform: uppercase;
			}
			.stitre {
				font-weight: 900;
				text-transform: uppercase;
			}
			a[href^="tel"],a[href^="fax"] {
				color: $text-color;
			}
			
			@include media-breakpoint-down(md) {
				.border-right {
					border-right: 0!important;
				}
			}
		}
		
		button {
			&.btn {
				font-size: 1.1rem;
			}
		}
		
		#nousjoindre {
			h2 {
				color: $rouge;
				font-size: 2.5rem;
			}
			
			a[href^=mailto] {
				color: $rouge;
				text-decoration: underline;
			}
		}
	}
	#map { height: 500px; }
	.lk_carriere {
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
		background: $rouge;
		color: #FFF;
		font-size: 1.5rem;
		font-weight: 900;
		text-transform: uppercase;
		position: fixed;
		right: -40px;
		top: 300px;
		padding: 1.25rem 1.5rem;
		z-index: 99;
		&.fr {
			right: -50px;
		}
	}
}