footer {
    .plane {
        width: 65px;
        height: auto;
        position: absolute;
        bottom: 3rem;
        right: 3rem;
    }
    .bgblanc {
        background: #FFF;
        padding-top: 6rem;
        @include media-breakpoint-down(sm) {
            padding-top: 4rem;
        }
    }
    
    .bggris {
        background: $gris;
        padding-top: 6rem;
        @include media-breakpoint-down(sm) {
            padding-top: 4rem;
        }
    }
    
    .coords {
        justify-content: space-around;
        max-width: 800px;
        width: 100%;
        
        @include media-breakpoint-down(md) {
            flex-direction: column;
            width: auto;
        }
    }
    .coord {
        @include media-breakpoint-down(md) {
            padding-left: 3rem;
            padding-right: 3rem;
        }
        @include media-breakpoint-down(sm) {
            padding-left: 0;
            padding-right: 0;
        }
        p {
            color: #FFF;
            font-size: 1.1rem;
            line-height: 1.4;
			margin-bottom: 1.25rem;
            
            &:nth-child(1) {
                color: #000;
                font-size: 1.2rem;
                font-weight: 900;
                text-transform: uppercase;
            }
            
            a {
                color: #FFF;
            }
        }
    }
    
    .bottom {
        background: $rouge;
        border-top: 1px solid #FFF;
        color: #FFF;
        font-size: 0.8rem;
        line-height: 1.5;
        
        a {
            color: #FFF;
        }
        
        svg {
            fill: #FFF;
            margin-bottom: 1px;
            height: auto;
            width: 0.9rem;
        }
        
        ul {
            list-style: none;
            
            li {
                padding: 0 0.75rem;
                a {
                    color: #FFF;
                    font-size: 0.9rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    
                    &:hover {
                        color: #000;
                        text-decoration: underline;
                    }
                }
                
                &.active a {
                    color: #000;
                    text-decoration: underline;
                }
                
                @include media-breakpoint-down(lg) {
                    padding: 0 0.5rem;
                }
            }
            @include media-breakpoint-down(sm) {
                flex-direction: column;
                li {
                    padding: 0.5rem 0;
                }
            }
        }
        
        > div:nth-child(2) {
            border-left: 1px solid #FFF;
            @include media-breakpoint-down(lg) {
                border: 0;
            }
        }
        
        @include media-breakpoint-down(lg) {
            text-align: center;
        }
    }
    
    @include media-breakpoint-down(sm) {
        text-align: center;
        .rs {
            justify-content: center;
            img {
                margin: 0 1rem;
            }
        }
    }
}