header {
    background: transparent;
	height: $headerHeight;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
    transition: background 1s;
    
    .alphacasting {
        height: 15px;
        width: 216px;
        .alpha{fill:#000;}
        .casting{fill:$gris;}
    }
    
    &.bgblack, &.bgblack-forced {
        background: #000;
        .plane {
            .plane-tail-end{fill:#c7c7c6;}
        }
        .alphacasting {
            .alpha{fill:#c7c7c6;}
        }
    }
    
    ul {
        list-style: none;
    }
    
    .sub {
        overflow: hidden;
        li {
            + li {
                &::before {
                    display: inline-block;
                    padding: 0 .5rem;
                    color: $rouge;
                    content: "|";
					@include media-breakpoint-down(sm) {
						padding: 0;
						content: "";
					}
                }
            }
            
            &.phone {
				height: 20px;
                .phone-container {
                    position: relative;
                    transition: width .8s cubic-bezier(.165,.84,.44,1);
                    will-change: width;
                    height: 100%;
                    width: 13px;
                    
                    .phone-no {
                        position: absolute;
                        top: 0;
                        left: 22px;
                        height: 100%;
                        transform: translateZ(0);
                        transition: all .8s cubic-bezier(.165,.84,.44,1);
                        opacity: 0;
                    }
                    .phone-icon {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 13px;
                        height: 18px;
                        transition: transform .8s cubic-bezier(.165,.84,.44,1);
                    }
                }
				@include media-breakpoint-up(md) {
					&:hover {
						.phone-container, .phone-no {
							width: 121px;
						}
						.phone-no {
							transform: translate3d(-22px,0,0);
							opacity: 1;
						}
						.phone-icon {
							transform: translate3d(16px,0,0);
						}
					}
				}
            }
        }
    }
    
    a {
        color: $rouge;
        font-size: 0.9rem;
        font-weight: 900;
        text-transform: uppercase;
        
        &:hover {
            color: $rouge;
        }
		
		span.material-icons-outlined {
			font-size: 2.5rem;
			position: absolute;
		}
    }
    
    .container_menu {
        background-color: #FFF;
        overflow: auto;
        max-width: 100%;
        height: 100%;
        width: 420px;
        position: fixed;
        left: 0;
        top: 0;
        /*white-space: nowrap;*/
        transform: translateX(-100%);
        -webkit-transition: -webkit-box-shadow .5s cubic-bezier(.215,.61,.355,1),-webkit-transform .5s cubic-bezier(.215,.61,.355,1);
        transition: -webkit-box-shadow .5s cubic-bezier(.215,.61,.355,1),-webkit-transform .5s cubic-bezier(.215,.61,.355,1);
        transition: box-shadow .5s cubic-bezier(.215,.61,.355,1),transform .5s cubic-bezier(.215,.61,.355,1);
        transition: box-shadow .5s cubic-bezier(.215,.61,.355,1),transform .5s cubic-bezier(.215,.61,.355,1),-webkit-box-shadow .5s cubic-bezier(.215,.61,.355,1),-webkit-transform .5s cubic-bezier(.215,.61,.355,1);
        z-index: 2;
        
        .container {
            max-width: inherit!important;
        }
        
        &.menuopened {
            transform: translateX(0);
        }
		
		.close-menu {
			border: 0;
			background: none;
			color: $rouge;
			.material-icons-outlined {
				font-size: 2.5rem;
			}
		}
        
        li {
            padding: 15px 0;
            
            a {
                color: #000;
                font-size: 2rem;
                font-weight: 400;
                text-transform: none;
                
                &:hover {
                    color: $rouge;
                    text-decoration: underline;
                }
            }
            
            &.active {
                > a {
                    color: $rouge;
                    text-decoration: underline;
                }
            }
            
            &.lang {
                padding: 20px 0;
                a {
                    font-size: 1.5rem;
                    font-weight: 300;
                }
            }
            
            &.rs {
                padding: 20px 0;
            }
            
            &.search {
                padding: 20px 20px 20px 0;
                .input-group {
                    max-width: 350px;
                    
                    .form-control {
                        border-color: #000;
                        border-left: 0;
                        border-right: 0;
                        border-top: 0;
                        border-radius: 0;
                    }
                    
                    .btn-outline-secondary {
                        border: 0;
                        padding: .375rem .75rem .375rem 0;
                    }
                }
            }
			#subabout {
				ul {
					padding-top: 0.5rem;
					li {
						padding: 0.5rem 1rem;
						a {
							font-size: 1.5rem;
						}
					}
				}
			}
        }
        
        @include media-breakpoint-down(sm) {
            width: auto;
            
            li {
                a {
                    font-size: 1.5rem;
                }
            }
        }
    }
}