#home {
    overflow: hidden;
    height: 100vh;
    
    .video {
        height: 100vh;
        video {
            display: block;
            object-fit: cover;
            width: 100vw;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            z-index: -100;
            background-image: url("../images/videos/accueil.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
		@include media-breakpoint-down(md) {
            height: auto;
            video {
                position: relative;
                height: auto;
                max-width: 100%;
            }
        }
    }
    .shortcuts {
        background-color: #FFF;
        padding-bottom: 6rem;
        padding-top: 3rem;
        
        h2 {
            color: $rouge;
            font-size: 1.8rem;
            font-weight: 700;
            margin-bottom: 1.5rem;
            text-transform: uppercase;
            
            &::before {
                content: '_';
				font-weight: 400;
            }
            
            @include media-breakpoint-down(md) {
                font-size: 1.5rem;
            }
        }
        
        [class^="col-"] div {
            margin: 0 auto;
            max-width: 380px;
			@include media-breakpoint-down(sm) {
				max-width: inherit;
			}
        }
    }
    
    .markets {
        > div:nth-child(1) {
            background: #000;
            
            h2 {
                color: #FFF;
                font-size: 5.5rem;
                line-height: 1;
                margin: 0;
				@include media-breakpoint-down(xl) {
					font-size: 4.75rem;
				}
				@include media-breakpoint-down(lg) {
					font-size: 4rem;
				}
            }
			p.titre_markets {
				font-size: 1.5rem!important;
			}
        }
        > div:nth-child(2) {
            background: #f0f0f0;
        }
        
        p.titre_markets::before {
            content: '_';
        }
		
		@include media-breakpoint-down(md) {
			height: auto!important;
			transform: none!important;
		}
    }
	.hor {
		@include media-breakpoint-down(md) {
			height: auto!important;
			transform: none!important;
		}
		
		.markets_items {
			overflow-y: auto;
			-ms-overflow-style: none;  /* IE and Edge */
			scrollbar-width: none;  /* Firefox */
			height: 100vh;

			&::-webkit-scrollbar {
				display: none;
			}
			@include media-breakpoint-down(md) {
				height: auto!important;
				margin-top: 0!important;
				transform: none!important;
			}
			
			.markets_items_container {
				flex-wrap: nowrap;
				margin-left: 50%;
				max-width: inherit;
				width: auto;
				@include media-breakpoint-down(md) {
					flex-wrap: wrap;
					margin-left: 0;
				}
				.item {
					height: 100%;
					width: calc(100vw / 3);
					@include media-breakpoint-down(xl) {
						padding-right: 30px;
					}
					@include media-breakpoint-down(lg) {
						width: calc(100vw / 2);
					}
					@include media-breakpoint-down(md) {
						height: auto;
					}
					
					@include media-breakpoint-down(sm) {
						width: 100vw;
					}
					&:nth-child(1) {
						margin-left: -100px;
						@include media-breakpoint-down(md) {
							margin-left: 0;
						}
					}
				}
			}
		}
	}
}