.markets {
	main {
		.top-title {
			background: #000;
			white-space: nowrap;
			@include media-breakpoint-down(md) {
				white-space: normal;
			}
		}
		.details {
			.bandeau {
				@extend %details-bandeau;
			}

			h1 {
				@extend %details-h1;
			}

			h2,h3 {
				@extend %details-h2;
			}

			h3 {
				margin-bottom: 1.5rem;
			}

			.video {
				p {
					color: #000;
					font-size: 4.5rem;
					font-weight: 500;
					line-height: 1;
					@include media-breakpoint-down(md) {
						font-size: 3.5rem;
						br {
							display: none;
						}
					}
					@include media-breakpoint-down(xs) {
						font-size: 2.5rem;
					}
				}
			}

			video {
				display: block;
				height: auto;
				width: 100%;
			}

			p {
				&.outline {
					color: #FFF;
					font-size: 4rem;
					font-weight: 800;
					line-height: 1;
					text-transform: uppercase;
					text-shadow: 0 0 2px $yellow, 0 0 2px $yellow, 0 0 2px $yellow, 0 0 2px $yellow;
					@include media-breakpoint-down(md) {
						font-size: 3rem;
					}
				}
			}

			.parts {
				background: $gris-pale;
				.col {
					height: 300px;
					max-width: 330px;

					.item {
						background: #FFF;
						border-radius: 100%;
						border: 0;
						height: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
						position: relative;

						&::before, &::after {
							border-radius: 100%;
							box-sizing: inherit;
							content: '';
							position: absolute;
							width: 100%;
							height: 100%;
							top: 0;
							left: 0;
						}
						&::before {
							border: 4px solid transparent;
						}
						&::after {
							border: 0 solid transparent;
						}

						&.aos-animate::before {
							border-top-color: $rouge;
							border-right-color: $rouge;
							border-bottom-color: $rouge;
							//transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.10s, border-bottom-color 0.15s linear 0.20s;
							transition: border-top-color 0.15s linear 0.30s, border-right-color 0.15s linear 0.40s, border-bottom-color 0.15s linear 0.50s;
						}
						&.aos-animate::after {
							border-top: 4px solid $rouge;
							border-left-width: 4px;
							border-right-width: 4px;
							transform: rotate(270deg);
							//transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s, -webkit-transform 0.4s linear 0s;
							transition: border-top 0s linear 0.30s, transform 0.4s linear 0.3s, border-left-width 0s linear 0.55s, -webkit-transform 0.4s linear 0.3s;
						}
					}
					&:nth-child(3) {
						.item {
							&.aos-animate::before {
								transition: border-top-color 0.15s linear 0.60s, border-right-color 0.15s linear 0.70s, border-bottom-color 0.15s linear 0.80s;
							}
							&.aos-animate::after {
								transition: border-top 0s linear 0.60s, transform 0.4s linear 0.6s, border-left-width 0s linear 0.85s, -webkit-transform 0.4s linear 0.6s;
							}
						}
					}
					&:nth-child(4) {
						.item {
							&.aos-animate::before {
								transition: border-top-color 0.15s linear 0.90s, border-right-color 0.15s linear 1s, border-bottom-color 0.15s linear 1.10s;
							}
							&.aos-animate::after {
								transition: border-top 0s linear 0.90s, transform 0.4s linear 0.9s, border-left-width 0s linear 1.15s, -webkit-transform 0.4s linear 0.9s;
							}
						}
					}
					&:nth-child(5) {
						.item {
							&.aos-animate::before {
								transition: border-top-color 0.15s linear 1.20s, border-right-color 0.15s linear 1.30s, border-bottom-color 0.15s linear 1.40s;
							}
							&.aos-animate::after {
								transition: border-top 0s linear 1.20s, transform 0.4s linear 1.20s, border-left-width 0s linear 1.45s, -webkit-transform 0.4s linear 1.20s;
							}
						}
					}

					@include media-breakpoint-down(xl) {
						height: 250px;
						max-width: 280px;
					}
					@include media-breakpoint-down(lg) {
						height: 200px;
						max-width: 230px;
					}
					@include media-breakpoint-down(md) {
						height: 150px;
						max-width: 180px;
					}
					@include media-breakpoint-down(sm) {
						height: 240px;
						max-width: 270px;
						flex-basis: 270px;
					}
				}

				.hor_rouge {
					background: $rouge;
					height: 2px;
					position: absolute;
					left: 20px;
					//right: 20px;
					width: 0px;
					top: 50%;
					-webkit-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					transform: translateY(-50%);
					transition: all 1.6s ease;

					&.aos-animate {
						width: 1260px;
						@include media-breakpoint-down(xl) {
							width: 1100px;
						}
						@include media-breakpoint-down(lg) {
							width: 900px;
						}
						@include media-breakpoint-down(md) {
							width: 680px;
						}
						@include media-breakpoint-down(sm) {
							display: none;
						}
					}
				}

				p {
					font-size: 1.75rem;
					font-weight: 800;
					text-transform: uppercase;
					@include media-breakpoint-down(md) {
						font-size: 1.25rem;
						text-align: center;
					}
				}
			}

			ul {
				margin-bottom: 1.5rem;
				padding-left: 1.3rem;
				li {
					color: $text-color;
					font-size: 1.25rem;
					line-height: 1.4;
					margin: 1rem 0;
					span {
						display: block;
					}
				}
			}

			.img-vertical {
				img {
					margin-top: -156px;
				}

				@include media-breakpoint-down(md) {
					height: 450px;
					padding-left: 0px!important;
					padding-right: 0px!important;
					img {
						margin-top: 0;
						height: 100%;
						width: 100%;
						object-fit: cover;
					}
				}
			}

			.horizontal {
				> div {
					border-bottom: 1px solid $rouge;
					&:last-child {
						border: 0;
					}
				}
			}
		}
	}
	
	.markets-home {
		.markets_items_container {
			padding-bottom: 50px;
			padding-top: 30px;
		}
	}
}

#aerospace {
	&.markets {
		.bandeau {
			background-image: url("../images/aerospace-top.jpg");
			@include media-breakpoint-down(md) {
				background-image: url("../images/aerospace-top-md.jpg");
			}
		}
	}
}
#medical {
	&.markets {
		.bandeau {
			background-image: url("../images/medical-top.jpg");
			@include media-breakpoint-down(md) {
				background-image: url("../images/medical-top-md.jpg");
			}
		}
	}
}
#defence {
	&.markets {
		.bandeau {
			background-image: url("../images/defence-top.jpg");
			@include media-breakpoint-down(md) {
				background-image: url("../images/defence-top-md.jpg");
			}
		}
	}
}
#telecom {
	&.markets {
		.bandeau {
			background-image: url("../images/telecom-top.jpg");
			@include media-breakpoint-down(md) {
				background-image: url("../images/telecom-top-md.jpg");
			}
		}
	}
}
#transport {
	&.markets {
		.bandeau {
			background-image: url("../images/transport-top.jpg");
			@include media-breakpoint-down(md) {
				background-image: url("../images/transport-top-md.jpg");
			}
		}
	}
}
#commercial {
	&.markets {
		.bandeau {
			background-image: url("../images/commercial-top.jpg");
			@include media-breakpoint-down(md) {
				background-image: url("../images/commercial-top-md.jpg");
			}
		}
	}
}

.markets_items {
	.markets_items_container {
		background: #f0f0f0;
		flex-wrap: wrap;

		@include media-breakpoint-down(md) {
			flex-wrap: wrap;
			height: auto!important;
			margin-left: 0;
			transform: none!important;
		}
		@include media-breakpoint-down(sm) {
			flex-direction: column;
		}

		.item {
			padding-left: 50px;
			padding-right: 50px;
			width: calc(100% / 3);
			@include media-breakpoint-down(xl) {
				padding-right: 30px;
			}
			@include media-breakpoint-down(lg) {
				width: calc(100% / 2);
			}
			@include media-breakpoint-down(md) {
				padding: 0 25px 0 15px;
				height: auto;
			}
			@include media-breakpoint-down(sm) {
				width: 100%;
			}
		}

		p {
			.titre_markets::after {
				content: '////';
				margin-left: 7px;
			}
			@include media-breakpoint-down(lg) {
				margin-bottom: 1rem;
			}
		}
	}

	img {
		margin-bottom: 40px;
		@include media-breakpoint-down(lg) {
			margin-bottom: 1.5rem;
		}
	}

	h2,h3 {
		color: $rouge;
		font-size: 3rem;
		margin-bottom: 0;
		+ p.intro {
			font-weight: 700;
			margin-bottom: 1.25rem;
		}
	}

	hr {
		border-top: 2px solid $rouge;
		margin-top: 0.65rem;
	}
}