#news {
	.top-title {
		background: #000;
		white-space: nowrap;
		border-bottom:none!important;
		
		@include media-breakpoint-down(md) {
			white-space: normal;
		}
	}
	
	
	h2 {
		@extend %details-h2;
	}
	h3 {
		font-weight: 700;
		text-transform: uppercase;
	}
	p {
		&.intro {
			font-size: 1.5rem;
			font-weight: 700;
			line-height: 1.25;
			text-transform: uppercase;
		}
	}

	.new-row {
		border-bottom: 2px solid $rouge;
		figure {
			width: 100%;
			height: 390px;
			@media screen and (max-width:768px) {
				height: 200px;
			}
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.content {
			.date {
				font-size: 24px;
				color:$rouge;
				font-weight: 400 ;

			}
			.btn {
				border-radius: 0;
				padding:15px 44px ;
				font-size: 14px;
			}
		}
	}
	.pagination{
		display: flex;
		flex-direction: row;
		justify-content: center;
		list-style-type: none;
		padding: 60px 15px;
		
		li{
			transition:border 0.25s;
			margin: 0 12px;
			a{
				color:$rouge;
				display: flex;
				width:52px;
				height: 52px;
				justify-content: center;
				align-items: center;
				transition:color 0.25s;

			}
			&:not(.number){
				font-size: 32px;
			}
			&.number{
				border:1px solid #b9b9b9;
				a{
					color:#b9b9b9;
				}
				&.current,&:hover {
					border:1px solid $rouge;
					a{
						color:$rouge;
					}
				}
			}
		}
		
	}
	.singlenew{
		border-bottom: 2px solid $rouge;
		.date {
			font-size: 24px;
			color:$rouge;
			font-weight: 400 ;
	
		}
		h2{
			@extend %details-h2;
		}
		
	} 
	.btn {
		border-radius: 0; 
		padding:15px 44px ;
		font-size: 14px;
	}
	
	.cta {
		p {
			font-size: 1.5rem;
			font-weight: 700;
			text-transform: uppercase;
		}
	}
}

