.quality {
	main {
		.top-title {
			background: #000;
			white-space: nowrap;
			@include media-breakpoint-down(md) {
				white-space: normal;
			}
		}
		h2 {
			color: #000;
			font-size: 1.75rem;
			font-weight: 400;
			line-height: 1;
			margin-bottom: 0;
			strong {
				display: block;
				color: $rouge;
				font-size: 3.5rem;
				font-weight: 500;
				margin-bottom: 0.5rem;
			}
			@include media-breakpoint-down(md) {
				font-size: 1.5rem;
				strong {
					font-size: 2.75rem;
				}
			}
			@include media-breakpoint-down(xs) {
				font-size: 1.25rem;
				strong {
					font-size: 2rem;
				}
			}
		}
		h3 {
			font-weight: 700;
			text-transform: uppercase;
			&.blanc {
				color: #fff;
			}
			&.promise {
				font-size: 3rem;
				text-transform: none;
				font-weight: 500;
				@include media-breakpoint-down(md) {
					font-size: 2.5rem;
				}
				@include media-breakpoint-down(xs) {
					font-size: 2rem;
				}
			}
		}
		p {
			&.intro {
				font-size: 1.5rem;
				font-weight: 700;
				line-height: 1.25;
				text-transform: uppercase;
			}
			&.upper {
				text-transform: uppercase;
			}
		}	

		.bas-prix {
			position: relative;
			z-index: -1;
			background-position: center;
			background-size: cover;
			background-image: url(../images/quality-icone-bg.jpg);
			img {
				position: relative;
				z-index: 1;
			}
			&::after{
				content: "";
				position: absolute;
				z-index: 0;
				inset: 0;
				background-color: rgba($rouge,0.85);
			}
		}
		
		.cta {
			p {
				font-size: 1.5rem;
				font-weight: 700;
				text-transform: uppercase;
			}
		}
	}
}