.swiper-news {
    overflow-x: hidden;
    .swiper-slide{
        figure{
            height: 355px ;
            width: 100%;
            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }
}