%details-bandeau {
	height: 599px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	@include media-breakpoint-down(md) {
		height: 310px;
	}
}
%details-h1 {
	color: $rouge;
	font-size: 8rem;
	font-weight: 300;
	@include media-breakpoint-down(md) {
		font-size: 5rem;
	}
	@include media-breakpoint-down(xs) {
		font-size: 3rem;
	}
}

%details-h2 {
	color: #000;
	font-size: 1.75rem;
	font-weight: 400;
	line-height: 1;
	margin-bottom: 0;
	strong {
		display: block;
		color: $rouge;
		font-size: 3.5rem;
		font-weight: 500;
		margin-bottom: 0.5rem;
	}
	@include media-breakpoint-down(md) {
		font-size: 1.5rem;
		strong {
			font-size: 2.75rem;
		}
	}
	@include media-breakpoint-down(xs) {
		font-size: 1.25rem;
		strong {
			font-size: 2rem;
		}
	}
}

.details {
	.features {
		h3 {
			margin-bottom: 0;
		}

		h4 {
			color: $rouge;
			font-weight: 800;
			margin-top: 1rem;
			text-transform: uppercase;
			@include media-breakpoint-down(xs) {
				font-size: 1.2rem;
			}
		}

		.titre {
			cursor: pointer;
			border-top: 2px solid #cfd2d9;
			.fleche {
				transition: 0.70s;
				-webkit-transition: 0.70s;
				-moz-transition: 0.70s;
				-ms-transition: 0.70s;
				-o-transition: 0.70s;
				-webkit-transform: rotate(180deg);
				-moz-transform: rotate(180deg);
				-o-transform: rotate(180deg);
				-ms-transform: rotate(180deg);
				transform: rotate(180deg);
				height: 56px;
				width: 56px;
				@include media-breakpoint-down(md) {
					height: 48px;
					width: 48px;
				}
				@include media-breakpoint-down(xs) {
					height: 36px;
					width: 36px;
				}
			}
		}
		.details {
			display: none;
		}

		&.active {
			.fleche {
				transition: 0.70s;
				-webkit-transition: 0.70s;
				-moz-transition: 0.70s;
				-ms-transition: 0.70s;
				-o-transition: 0.70s;
				-webkit-transform: rotate(90deg);
				-moz-transform: rotate(90deg);
				-o-transform: rotate(90deg);
				-ms-transform: rotate(90deg);
				transform: rotate(90deg);
			}
		}

		&:last-child {
			border-bottom: 2px solid #cfd2d9;
		}
	}
	
	.cta {
		p {
			font-size: 1.5rem;
			font-weight: 700;
		}
	}
}

.swiper-container {
	&.markets {
		.swiper-slide {
			a {
				display: block;
				position: relative;
				span {
					display: none;
					background: rgba(237,28,36,0.75);
					color: #FFF;
					font-size: 2.5rem;
					font-weight: 500;
					text-transform: uppercase;
					align-items: center;
					justify-content: center;
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					top: 0;
					text-align: center;
				}
				&:hover {
					span {
						display: flex;
					}
				}
			}
		}
	}
}